<div class="site-main">
  {{#mapbox-gl
      id='map'
      initOptions=(hash style='mapbox://styles/mapbox/dark-v9'
                        zoom=zoom
                        center=center
                        hash=true)
      mapLoaded=(action 'handleMapLoaded')
      as |map|}}
      {{#map.source options=nycSubwayRoutesSource as |source|}}
        {{source.layer layer=nycSubwayRoutesLayer}}
      {{/map.source}}

      {{#map.source options=nycSubwayStopsSource as |source|}}
        {{source.layer layer=nycSubwayStopsLayer}}
        {{source.layer layer=nycSubwayStopsLabelsLayer}}
      {{/map.source}}

      {{#map.source options=highlightedStationSource as |source|}}
        {{source.layer layer=highlightedStationLayer before='subway_stations'}}
      {{/map.source}}

      {{#if mapservice.shouldFitBounds}}
        {{map.call 'fitBounds' mapservice.bounds mapservice.fitBoundsOptions }}
      {{/if}}

      {{map.on 'click' (action 'handleClick')}}
      {{map.on 'mousemove' (action 'handleMousemove')}}
  {{/mapbox-gl}}

  <div id="control-pane">
    <h2>Subway Roulette</h2>
    {{log currentRouteName}}
    <p>Choose a starting station by clicking it on the map or choosing from the dropdown below.</p>
    {{log sliderStart}}

    {{!-- <div id="go" onclick={{action 'chooseStation'}}>
      Go
    </div> --}}
      {{outlet}}
  </div>


</div>
