Starting Station
<h3>{{model.properties.name}}</h3>

Time you're willing to travel:
{{range-slider
  start=selectedRange
  min=0
  max=120
  tooltips=true
  step=15
  behaviour="drag"
  on-change="handleSliderChange"
 }}

 <div id="go" onClick={{action 'findStation'}}>
   Find me a station!
 </div>
 {{log selectedRange}}
{{outlet}}
